<div class="container">
  <h2>Edit</h2>
  <h2 class="ui header">
    <i class="settings icon"></i>
    <div class="content">
      model/Developers
      <div class="sub header">Edit</div>
    </div>
  </h2>

  <form>

    <Input type="text" name="identity" placeholder="Identité" @value={{model.identity}}/>

  </form>

</div>

{{outlet}}